@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 格式化软件会把hover:后面加空格，会报错 */
@layer components {
  .btn-123 {
    @apply cursor-pointer text-center py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .ert {
    @apply cursor-pointer hover:bg-sky-500 text-2xl flex flex-wrap justify-center items-center h-24 w-full;
  }
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */
html,body,#app{
  width: 100%;
  height: 100%;
}
/*
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */